:host {
    height: 5vw;
    width: 5vw;
    display: block;
}

button {
    height:100%;
    width: 100%;
    background: none;
    border: 0;
    cursor: pointer;
}

button:hover + .tooltip {
    opacity: 1;
}

.tooltip {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.4s;
}