
@for (color of stateForm.colors; track $index; let i = $index) {
<div class="color">
    <mat-toolbar>
        <h2>Color {{i}}</h2>
        <button matIconButton aria-label="Remove color">
            <mat-icon>remove</mat-icon>
        </button>
    </mat-toolbar>
    <div class="control">
        <mat-label>Hue</mat-label>
        <mat-slider min="1" max="360" step="1">
            <input matSliderThumb [formField]="color.hue" >
        </mat-slider>
    </div>
    <div class="shades">

        @for (shade of color.shades; track $index) {
            <mat-form-field appearance="fill">
                <button matSuffix class="top-right-icon" matIconButton aria-label="Remove shade">
                    <mat-icon>remove</mat-icon>
                </button>
                <input matInput type="number" step="0.01" [formField]="shade">
            </mat-form-field>
        }
        <button matButton aria-label="Add shade">
            Add shade
            <mat-icon matSuffix >add</mat-icon>
        </button>
    </div>
</div>
}

<button matButton aria-label="Add color">
    Add color
    <mat-icon matSuffix >add</mat-icon>
</button>