.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    margin-bottom:2em;
}

@media screen and (max-width: 1024px) {
    .list {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .list {
        grid-template-columns: 1fr;
    }
    pbu-preset-card {
        max-width:320px;
    }
}